body {
  margin: 0;
  padding:0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: #dd575b;
  background-color: #d7373b;
}

.filter-button {
  font: inherit;
  text-align: center;
  color: #283136;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: #d5d5d5;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation a {
  font-size: 16px;
  line-height: 30px;  
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.services-list  {
  list-style: none;
}
.slider-name {
  font-size: 55px;
  line-height: 55px;
}

.slider-description {
  color: #283136;
}

.list-features  {
  list-style: none;
}

.services-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-description {
  color: #283136;
}

.clients-list {
  list-style: none;
}

.clients-item-link img{
  opacity: 0.2;
}

.clients-item-link img:hover,
.clients-item-link img:focus {
  opacity: 1;
}

.clients-item-link img:active {
  opacity: 0.1;
}
.about-text-bold {
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  color: #283136;
}

.list-servises-name {
  font-weight: bold;
  text-transform: uppercase;
}

.list-servises {
  color:#283136;
}

.list-features-name {
  font-weight: bold;
  text-transform: uppercase;
}

.list-features-percent {
  font-size: 45px;
  line-height: 10.06px;
}
.list-features-item {
  font-weight: 18px;
  color:#283136;
}

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts-adress,
.contacts-tel {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.social-button {
  list-style: none;
}

.footer-text-bold {
  font-size: 36px;
  line-height: 36px;
}

.footer-text-sale {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal-header {
  font-size: 45px;
  line-height: 45px;
}

.inner-page {  
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.header-category {
  font-size: 55px;
  line-height: 55px;
}

.header-filter {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-item-min-max {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.header-shorts {
  font-size: 18px;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-list {  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list a:hover,
.sort-list a:focus,
.sort-button a:hover,
.sort-button a:focus {
  color: #8d8d8d;
}

.sort-list a:active,
.sort-button a:active {
  color: #000000;
}

.sort-list-item a {
  color: #cacaca;
}

.sort-button {
  list-style: none;
}

.sort-button {  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-button-item a {
  color: #cacaca;
}

.catalog-list {
  list-style: none;
}

.catalog-item-img {
  border: 1px solid #e9e9e9;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-name a {
  color: #000000;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.pagination-list  {
  list-style: none;
}

.pagination-list {
  color: #000000;
  text-transform: uppercase;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #959595;
  background-color: #eeeeee;
}
-----------------------------
body {
  min-width: 1440px;
}

.main-header {
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 50px;
}

.header-wrappewr {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-logo {
  width: 162px;
  height: 67px;
}

.site-navigation {
  width: 760px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 160px;
  margin: 0;
  padding: 0;
}

.slider {  
  margin: 0;
  padding: 0 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.services {
  margin-bottom: 80px;
  padding: 0 20px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services-item{
  width: 300px;
}

.hr-1 {
  width: 1160px;
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 2px;
  margin-bottom: 40px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0 20px;
}

.about {
  width: 760px;
  margin-top: 40px;
  padding: 0;
}

.about-statistics {
  width: 360px;
}

.hr-2 {
  width: 1160px;
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 2px;
  margin-bottom: 40px;
}

.clients {
  margin-bottom: 40px;
  padding: 0 20px;
}

.clients-list {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.hr-3 {
  width: 1160px;
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 2px;
  margin-bottom: 40px;
}
.modal-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.maps,
.maps-img {
  width: 1440px;
}

.contacts {
  width: 218px;
  border: 1px solid #000000;
  margin-bottom: 80px;
  padding: 47px 50px;
}

.contacts-adress {
  margin-bottom: 15px;
}

.contacts-tel {
  margin-bottom: 30px;
}

.modal {
  width: 960px;
  height: 590px;
  border: 1px solid #000000;
  box-shadow: -5px 30px 20px 10px rgb(0,1,1,0.25);
}















.main-footer {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin: 68px auto;
  padding: 0 20px;
}

.social-button {
  width: 260px;
}

.footer-text {
  width: 860px;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


